[Unit]
Description=SignalGen

[Service]
Type=simple
WorkingDirectory=/home/pi/fakeradar
ExecStart=python /home/pi/fakeradar/signalgen.py
Restart=always

[Install]
WantedBy=multi-user.target

